{% extends 'dashboard_layout.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block dashboard_content %}
<div class="container my-3">
    <div class="my-4">
        <a href="export-excel/"><button class="btn btn-primary">Export to Excel</button></a>
    </div>
    <div class="my-4">
        <a href="export-text/"><button class="btn btn-primary">Export to Text</button></a>
    </div>
</div>
{% endblock %}

{% block script %}

<script>
    $( "#nav-dashboard-export" ).addClass( "active" );
</script>

{% endblock %}